main {
  margin-top: 70px;
  padding-top: 2em;
  padding-bottom: 2em;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#main.no-spacing {
  margin-top: 0;
  padding-top: 0;
}

.content ng-component {
  white-space: pre-wrap;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  font-family: 'Oswald', sans-serif;
}

nav.transparent:not(.top-nav-collapse) {
  background-color: transparent !important;
}

.btn-gplus {
  background-color: #db4437;
  color: #ffffff !important;
}

.btn-fb {
  background-color: #3b5998;
  color: #ffffff !important;
}

.btn-tw {
  background-color: #1da1f2;
  color: #ffffff !important;
}

.btn-pinterest {
  background-color: #bd081c;
  color: #ffffff !important;
}

.btn-snapchat {
  background-color: #fffc00;
  color: #ffffff !important;
}

.btn-instagram {
  background-color: #262626;
  color: #ffffff !important;
}

.btn-linkedin {
  background-color: #0077b5;
  color: #ffffff !important;
}

.btn-platstar {
  color: #ffffff !important;
  background-color: #333;
}

.btn-github {
  color: #ffffff !important;
  background-color: rgb(51, 51, 51);
}

.btn-reddit {
  color: #ffffff !important;
  background-color: rgb(255, 69, 0);
}

.btn-so {
  color: #ffffff !important;
  background-color: rgb(255, 172, 68);
}

.typed-cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container-fluid-child {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

/*
  Cascading Cards design
*/

.card.card-cascade {
  box-shadow: none;
  background: transparent;

  > .view {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
      0 4px 15px 0 rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 0.25rem;
    //border-radius: 0.25rem;
    z-index: 2;
  }

  &.wider > .view {
    margin-left: -4%;
    margin-right: -4%;
  }

  &.narrower > .view {
    margin-left: 4%;
    margin-right: 4%;
  }

  &.reverse {
    > .view {
      z-index: 1;
    }

    > .card-body {
      z-index: 2;
      margin-top: -16px;
      border-radius: 0.25rem;
      -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
        0 4px 15px 0 rgba(0, 0, 0, 0.15);
    }
  }

  > .card-body {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
      0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background: #fff;
    z-index: 1;
    -webkit-border-radius: 0 0 0.25rem 0.25rem;
    border-radius: 0 0 0.25rem 0.25rem;
  }
}

/*
  Header underlines
*/
h1:after,
.h-ul:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  width: 25px;
  height: 1px;
  transform: translateX(-50%);
  border-bottom-width: 2px;
  border-bottom-style: solid;
  line-height: 0;
}

.h-ul {
  text-align: center;
}

/*
  Navbar
*/
$logo-size-lg: 100px;
$logo-size: 48px;

.navbar-brand img,
nav.navbar.transparent.top-nav-collapse .navbar-brand > img {
  max-width: $logo-size;
  max-height: $logo-size;
  transition: all 0.2s ease-in-out;
}

@media (min-width: 768px) {
  nav.navbar.transparent .navbar-brand > img {
    max-width: $logo-size-lg;
    max-height: $logo-size-lg;
  }
}

// Loading spinner

$offset: 187;
$duration: 1.4s;

.loading-spinner {
  animation: rotator $duration linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .path {
    stroke-dasharray: $offset;
    stroke-dashoffset: 0;
    transform-origin: center;
    animation: dash $duration ease-in-out infinite,
      colors ($duration * 4) ease-in-out infinite;
  }
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes colors {
  0% {
    stroke: #4285f4;
  }
  25% {
    stroke: #de3e35;
  }
  50% {
    stroke: #f7c223;
  }
  75% {
    stroke: #1b9a59;
  }
  100% {
    stroke: #4285f4;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: $offset;
  }
  50% {
    stroke-dashoffset: $offset/4;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform: rotate(450deg);
  }
}
