#main,
.main {
  margin-top: 66px;
  padding-top: 1em;
}

#main.no-spacing {
  margin-top: 0;
  padding-top: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  font-family: 'Oswald', sans-serif;
}

.brand-google {
  background-color: #DB4437;
  color: #FFFFFF !important;
}

.brand-facebook {
  background-color: #3B5998;
  color: #FFFFFF !important;
}

.brand-twitter {
  background-color: #1DA1F2;
  color: #FFFFFF !important;
}

.brand-pinterest {
  background-color: #BD081C;
  color: #FFFFFF !important;
}

.brand-snapchat {
  background-color: #FFFC00;
  color: #FFFFFF !important;
}

.brand-instagram {
  background-color: #262626;
  color: #FFFFFF !important;
}

.brand-linkedin {
  background-color: #0077B5;
  color: #FFFFFF !important;
}
