#main,
.main {
  margin-top: 66px;
  padding-top: 1em;
}

#main.no-spacing {
  margin-top: 0;
  padding-top: 0;
}

.content ng-component {
  white-space: pre-wrap;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  font-family: 'Oswald', sans-serif;
}

nav.transparent:not(.top-nav-collapse) {
  background-color: transparent !important;
}

.brand-google {
  background-color: #db4437;
  color: #ffffff !important;
}

.brand-facebook {
  background-color: #3b5998;
  color: #ffffff !important;
}

.brand-twitter {
  background-color: #1da1f2;
  color: #ffffff !important;
}

.brand-pinterest {
  background-color: #bd081c;
  color: #ffffff !important;
}

.brand-snapchat {
  background-color: #fffc00;
  color: #ffffff !important;
}

.brand-instagram {
  background-color: #262626;
  color: #ffffff !important;
}

.brand-linkedin {
  background-color: #0077b5;
  color: #ffffff !important;
}

.typed-cursor {
  opacity: 1;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
