<main id="main" class="wp-page container" *ngIf="page">
<section class="wp-page">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-12">

      <!-- Card -->
      <div class="card card-cascade wider">

        <!-- Card image -->
        <div class="view overlay" *ngIf="page.better_featured_image && page.better_featured_image != null">
          <img class="card-img-top" [src]="page.better_featured_image.source_url" [alt]="page.better_featured_image.alt_text">
          <a [href]="page.better_featured_image.source_url" target="_blank">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!-- Card content -->
        <div class="card-body text-center">

          <!-- Title -->
          <h2 class="font-weight-bold">{{page.title.rendered}}</h2>
          <!-- Data -->
          <p>Written by <a><strong>{{page._embedded.author[0].name}}</strong></a>, {{page.date | date}}</p>
          <!-- Social shares -->
          <div class="social-counters" *ngIf="page.ping_status && page.ping_status === 'open'">
            <!-- Facebook -->
            <a class="btn btn-fb">
              <i class="fa fa-facebook pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Facebook</span>
            </a>
            <!-- Twitter -->
            <a class="btn btn-tw">
              <i class="fa fa-twitter pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Twitter</span>
            </a>
            <!-- Google+ -->
            <a class="btn btn-gplus">
              <i class="fa fa-google-plus pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Google+</span>
            </a>
            <!-- Comments -->
            <a class="btn btn-default">
              <i class="fa fa-comments-o pr-2"></i>
              <span class="clearfix d-none d-md-inline-block">Comments</span>
            </a>
          </div>

          <hr class="my-4">

          <!-- Excerpt -->
          <div class="content rte mt-4" data-wow-duration="0.7s" *ngIf="page.content && page.content.rendered">
            <eval-component [template]="page.content.rendered"></eval-component>
          </div>

          <!-- Social shares -->

        </div>
        <!-- Card content -->

      </div>

      <div *ngIf="page.comment_status && page.comment_status === 'open'" class="reply-form wow fadeInUp mt-4" data-wow-duration="0.7s" data-wow-delay="0.1s" data-wow-offset="200">
        <!-- Material form contact -->
  <form id="form-reply" class="card-body" #formReply="ngForm">
      <p class="h4 mb-4">Leave A Reply!</p>

      <!-- Material input text -->
      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input mdbInputDirective type="text" data-error="Please enter a name" data-success=" " min="5" max="25" id="form-reply-name" class="form-control" #formName name="reply-name" [(ngModel)]="reply.name">
        <label for="form-reply-name">Your name</label>
      </div>

      <!-- Material input email -->
      <div class="md-form">
        <i class="fa fa-envelope prefix grey-text"></i>
        <input mdbInputDirective type="email" data-error=" " data-success=" " id="form-reply-email" class="form-control" #formEmail name="reply-email" [(ngModel)]="reply.email">
        <label for="form-reply-email">Your email</label>
      </div>

      <!-- Material input subject -->
      <div class="md-form">
        <i class="fa fa-link prefix grey-text"></i>
        <input mdbInputDirective type="text" id="form-reply-website" data-error=" " data-success=" " class="form-control" min="0" optional="true" max="140" #formWebsite name="reply-website" [(ngModel)]="reply.website">
        <label for="form-reply-website">Website</label>
      </div>

      <!-- Material textarea message -->
      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea mdbInputDirective type="text" id="form-reply-body" data-error=" " data-success=" " min="5" max="4096" class="form-control md-textarea" rows="2" #formBody name="reply-body" [(ngModel)]="reply.body"></textarea>
        <label for="form-reply-body">Your message</label>
      </div>

      <div class="mt-4">
          <button class="btn btn-outline-primary" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
      </div>
  </form>
  <!-- Material form contact -->
      </div>

      <div class="replies mt-4 wow fadeInUp" data-wow-duration="0.7s" data-wow-delay="0.1s" *ngIf="page._embedded && page._embedded.replies">
        <list-replies [replies]="page._embedded.replies"></list-replies>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="mb-5 mt-4">

</section>
</main>
