<!--Form-->
            <div class="card text-dark wow fadeInRight" data-wow-delay="0.3s">
                <div class="card-body z-depth-2">
                    <!--Header-->
                    <div class="text-center">
                        <h3>Get in Touch</h3>
                        <hr>
                    </div>

                    <!--Body-->
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="form3" class="form-control" mdbInputDirective>
                        <label for="form3">Your name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="form2" class="form-control" mdbInputDirective>
                        <label for="form2">Your email</label>
                    </div>

                    <!--Textarea with icon prefix-->
                    <div class="md-form">
                        <i class="fa fa-pencil prefix grey-text"></i>
                        <textarea type="text" id="form8" class="md-textarea"></textarea>
                        <label for="form8">Your message</label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-primary waves-light" mdbWavesEffect>Send</button>
                    </div>

                </div>
            </div>
            <!--/.Form-->
