<main id="page-wp-list-posts" *ngIf="posts && posts.length > 0">
  <div class="container">
  <!--Section heading-->
  <h2 class="text-center mb-4">{{title}}</h2>
  <!--Section description-->
  <!--<p class="text-center mb-5 pb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
  <!--<div class="post card my-2" *ngFor="let post of posts">
    <div class="card-body">
      <h3 class="card-title"><a routerLink="/post/{{post.slug}}">{{post.title.rendered}}</a></h3>
      <h6 class="row card-subtitle post-info">
        <div class="col-auto">
          {{ post.date | date}}
        </div>
        <div class="col-auto">
          <i class="fa fa-comment" aria-hidden="true"></i> Leave Comment
        </div>
      </h6>
      <div class="card-text post-body" [innerHTML]="post.excerpt.rendered"></div>
    </div>
  </div>-->

  <div class="post row" *ngFor="let post of posts">
      <!--Grid column-->
      <div class="col-lg-5 col-xl-4 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-1-half waves-light" mdbWavesEffect *ngIf="post.better_featured_image">
              <img class="img-fluid" [src]="post.better_featured_image.source_url" [alt]="post.better_featured_image.alt_text">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
          <h3 class="mb-3 font-weight-bold dark-grey-text"><a routerLink="/post/{{post.slug}}" [innerHTML]="post.title.rendered"></a></h3>
          <p class="grey-text" [innerHTML]="post.excerpt.rendered"></p>
          <p>by
              <a class="font-weight-bold dark-grey-text">{{post._embedded.author[0].name}}</a>, {{post.date | date}}</p>
          <a class="btn btn-primary btn-md waves-light" routerLink="/post/{{post.slug}}" mdbWavesEffect>Read more</a>
      </div>
      <!--Grid column-->

  </div>
</div>
</main>
