<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
  <a class="navbar-brand" routerLink="/">
    <img src="assets/logo.png" alt="Logo">
  </a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarHeader" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" [routerLinkActive]="'active'">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog" [routerLinkActive]="'active'">Blog</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown #navDropdown="ngbDropdown">
        <a class="nav-link dropdown-toggle" id="navbarProjects" role="button" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle (mouseover)="navDropdown.open()">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarProjects" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/page/projects" [routerLinkActive]="'active'">Platstar</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Colorado Board Company</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Sweet Rides</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Demo: Lawn Care</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Demo: Store</a>
        </div>
      </li>
      <li class="nav-item dropdown" ngbDropdown #navLogin="ngbDropdown">
        <a class="nav-link dropdown-toggle" id="navbarLogin" role="button" ngbDropdownToggle>
          Account
        </a>
        <div class="dropdown-menu p-2 text-center" ngbDropdownMenu>
          <app-authentication></app-authentication>
        </div>
      </li>
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>

</div>
</nav>
