<mdb-navbar [ngClass]="{'transparent': isTransparent}" [SideClass]="navClass">
  <logo>
    <a class="navbar-brand" routerLink="/">
      <img src="assets/logo.png" class="d-inline-block align-top" alt="Eric King's Logo">
    </a>
  </logo>

  <links>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" routerLink="/home" [routerLinkActive]="'active'">
        <a class="nav-link" mdbWavesEffect routerLink="/home" [routerLinkActive]="'active'">Home</a>
      </li>
      <li class="nav-item" routerLink="/blog" [routerLinkActive]="'active'">
        <a class="nav-link" mdbWavesEffect routerLink="/blog" [routerLinkActive]="'active'">Blog</a>
      </li>
      <li class="nav-item" routerLink="/contact" [routerLinkActive]="'active'">
        <a class="nav-link" mdbWavesEffect routerLink="/contact" [routerLinkActive]="'active'">Contact</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" id="navbarProjects" type="button">
          Projects
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarProjects">
          <a class="dropdown-item" routerLink="/page/projects" [routerLinkActive]="'active'">Platstar</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Colorado Board Company</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Sweet Rides</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Demo: Lawn Care</a>
          <a class="dropdown-item" href="#" [routerLinkActive]="'active'">Demo: Store</a>
        </div>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect class="nav-link dropdown-toggle waves-light" id="navbarLogin" type="button">
          Account
        </a>
        <div class="dropdown-menu p-2 text-center">
          <app-authentication></app-authentication>
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
