<main id="main" class="wp-post container" *ngIf="post">
    <h2>{{post.title.rendered}}</h2>
    <div class="content rte">
      <eval-component [template]="post.content.rendered"></eval-component>
    </div>
    <div class="replies" *ngIf="post._embedded && post._embedded.replies">
      <list-replies [replies]="post._embedded.replies"></list-replies>
    </div>
    <div class="reply-form mt-4 card">
      <!-- Material form contact -->
<form id="form-reply" class="card-body" #formReply="ngForm">
    <p class="h4 mb-4">Leave A Reply!</p>

    <!-- Material input text -->
    <div class="form-group">
      <label for="form-reply-name"><i class="fa fa-user prefix grey-text"></i> Your name</label>
      <input type="text" id="form-reply-name" class="form-control" #formName name="reply-name" [(ngModel)]="reply.name">
    </div>

    <!-- Material input email -->
    <div class="form-group">
      <label for="form-reply-email"><i class="fa fa-envelope prefix grey-text"></i> Your email</label>
      <input type="email" id="form-reply-email" class="form-control" #formEmail name="reply-email" [(ngModel)]="reply.email">
    </div>

    <!-- Material input subject -->
    <div class="form-group">
      <label for="form-reply-website"><i class="fa fa-link prefix grey-text"></i> Website</label>
      <input type="text" id="form-reply-website" class="form-control" #formWebsite name="reply-website" [(ngModel)]="reply.website">
    </div>

    <!-- Material textarea message -->
    <div class="form-group">
      <label for="form-reply-body"><i class="fa fa-pencil prefix grey-text"></i> Your message</label>
      <textarea type="text" id="form-reply-body" class="form-control md-textarea" rows="3" #formBody name="reply-body" [(ngModel)]="reply.body"></textarea>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-outline-primary" type="submit">Send<i class="fa fa-paper-plane-o ml-2"></i></button>
    </div>
</form>
<!-- Material form contact -->
    </div>
</main>
