.hero-container {
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-slide {
  width: 100vw;
  height: 100vh;

  h1:after,
  .heading-underline:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    width: 100px;
    height: 1px;
    margin-left: -50px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    line-height: 0;
  }
}

#main-title,
#sub-title {
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}
