main#main {
  background-position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  h1 {
    font-family: 'Raleway', sans-serif;
  }
}

.hero-slide {
  width: 100vw;
  height: 100vh;
}

#main-title,
#sub-title {
  letter-spacing: 1px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

#sub-title-display {
  font-size: 1.5rem;
}

.cta-buttons {
  .btn {
    background: rgba(245, 25, 0, 0.8);
    border: 1px #fff solid;

    &:hover {
      color: #fff;
      background: rgba(245, 25, 0, 1);
    }
  }
}

.content {
  background: #fff;
}
