
<!--Footer-->
<footer class="page-footer indigo darken-2 text-center text-md-left pt-4 mt-4">
    <!--Footer Links-->
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-1">
                <h5 class="title">Thanks for visiting!</h5>
                <p>Don't hesitate to <a class="text-underlined" routerLink="/contact-me">contact me</a> if you want to get in touch!</p>
            </div>

            <hr class="hidden-md-up">

            <!--Second column-->
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/home">Home</a>
                    </li>
                    <li>
                        <a routerLink="/page/projects">Projects</a>
                    </li>
                    <li>
                        <a routerLink="/contact">Contact Me</a>
                    </li>
                    <li>
                        <a href="https://platstar.com/" target="_blank">Platstar</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <!--/.Footer Links-->

    <hr>

    <!--Call to action-->
    <div class="call-to-action text-center py-3">
        <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
                <h5>Get in touch</h5>
            </li>
            <li class="list-inline-item">
                <a href="mailto:eric@king.rocks" class="btn btn-danger waves-light btn-rounded" mdbWavesEffect>Email</a>
            </li>
        </ul>
    </div>

    <hr>

    <!--<div class="text-center mb-3">

        <a class="btn-floating btn-small btn-fb waves-light" mdbWavesEffect>
            <i class="fa fa-facebook"> </i>
        </a>
        <a class="btn-floating btn-small btn-tw waves-light" mdbWavesEffect>
            <i class="fa fa-twitter"> </i>
        </a>
        <a class="btn-floating btn-small btn-gplus waves-light" mdbWavesEffect>
            <i class="fa fa-google-plus"> </i>
        </a>
        <a class="btn-floating btn-small btn-li waves-light" mdbWavesEffect>
            <i class="fa fa-linkedin"> </i>
        </a>
        <a class="btn-floating btn-small btn-git waves-light" mdbWavesEffect>
            <i class="fa fa-github"> </i>
        </a>
        <a class="btn-floating btn-small btn-pin waves-light" mdbWavesEffect>
            <i class="fa fa-pinterest"> </i>
        </a>
        <a class="btn-floating btn-small btn-ins waves-light" mdbWavesEffect>
            <i class="fa fa-instagram"> </i>
        </a>

    </div>-->

    <div class="footer-copyright text-center py-3">
        <div class="container-fluid">
            © 2018 Copyright Eric King
        </div>
    </div>
</footer>
<!--/.Footer-->
