@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?48myg0');
  src: url('fonts/icomoon.eot?48myg0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?48myg0') format('truetype'),
    url('fonts/icomoon.woff?48myg0') format('woff'),
    url('fonts/icomoon.svg?48myg0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-platstar:before {
  content: '\e900';
}
