/* You can add global styles to this file, and also import other style files */

#main,
.main {
  margin-top: 66px;
  padding-top: 1em;
}

#main.no-spacing {
  margin-top: 0;
  padding-top: 0;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.subtitle {
  font-family: 'Oswald', sans-serif;
}
